<div class="container mt-5">
  <div class="row">
      <div class="col">
          <h1 class="text-center mb-5">Vista de un User</h1>
          <table class="table table-bordered table-striped">
              <tbody>
                  <tr>
                      <th>Id</th>
                      <td>{{oUser.id}}</td>
                  </tr>
                  <tr>
                      <td>Name</td>
                      <td>{{oUser.name}}</td>
                  </tr>
                  <tr>
                      <td>Surname</td>
                      <td>{{oUser.surname}}</td>
                  </tr>
                  <tr>
                      <td>Lastname</td>
                      <td>{{oUser.lastname}}</td>
                  </tr>
                  <tr>
                      <td>Email</td>
                      <td>{{oUser.email}}</td>
                  </tr>
                  <tr>
                      <td>Username</td>
                      <td>{{oUser.username}}</td>
                  </tr>
              </tbody>
          </table>
      </div>

      <button class="btn btn-sm btn-primary" [routerLink]="['/user']">
       Back
      </button>

  </div>
</div>